<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Ticket Tracker Application</title>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #1B73F9">
		
		<a class="navbar-brand" style="font-size: large;" href="#">Ticket Tracker Application</a>

		<a class="btn" th:href="@{/tickets}" style="font-size: small; color: white;">Tickets</a>
		
		<a class="btn" th:href="@{/tickets/new}" style="font-size: small; color: white;">New Ticket</a>
	</nav>

	<br>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center" style="background-color: rgb(232, 230, 230); font-size: xx-large; padding: 2%;" th:text="${ticket.title}">Ticket</h1>
				<div class="card-body">
						<div class="form-group">
							<label> Short Description </label><p  th:text="${ticket.description}" style="border-width:1px; border-style:solid; border-color:#000000; padding: 1em; border-radius: 5px;"></p>
						</div>
						<div class="form-group">
							<label> Content </label><p  th:text="${ticket.content}" style="border-width:1px; border-style:solid; border-color:#000000; padding: 1em; border-radius: 5px;"></p>
						</div>
						<div class="form-group">
							<label> Created </label> <p  th:text="${ticket.date}" style="border-width:1px; border-style:solid; border-color:#000000; padding: 1em; border-radius: 5px;"></p>
						</div>
				</div>
			</div>
		</div>
	</div>
	<h6 style="margin-bottom: 1%; margin-top: 1%; padding-top: 1%; padding-bottom: 2%; background-color: rgb(232, 230, 230);" class="text-center">Copyright &copy; 2023 GreatLearning All right reserved</h6>

</body>

</html>